[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
flake8 = "*"
pytest = "*"
guppy3 = "*"

[requires]
python_version = "3.10"
